<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>City Selector</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" defer></script>
</head>
<body>

<div id="citySelector">
    <button class="js-load-region hidden">Выберите регион</button>
    <div id="region"></div>
    <div id="city"></div>
</div>

<script type="text/template" id="region-select">
    <ul  class="js-region-select">
        <% regions.forEach(item => { %>
            <li class="js-region-select-item" data-region-id="<%= item.id%>"><%= item.title %></li>
        <% }); %>
    </ul>
</script>

<script type="text/template" id="city-select">
    <ul class="js-city-select">
        <% for(var key in city) { %>
            <li class="js-city-select-item"><%= city[key] %></li>
        <% } %>
    </ul>
</script>

<script src="//localhost:8080/bundle.js"></script>

</body>
</html>