<form action="{{url}}" method="post">
    <input type="hidden" name="region" value="{{region}}" />
    <input type="hidden" name="city" value="{{city}}" />
    <button class="js-btn-submit" type="submit" disabled>Сохранить</button>
</form>