<form action="{{url}}" method="post">
    <input name="region" value="{{region}}" />
    <input name="city" value="{{city}}" />
    <button class="js-btn-submit" type="submit" disabled>Сохранить</button>
</form>